@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/* Estilos Base */
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.container{
    width: 100%;
    margin: auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    width: 100%;
}
/*Header*/
.main-nav__logo{
    display: none;
}
.main-header{
    width: 100%;   
}
.logo_container{
    background-color: antiquewhite;
}
.main-header img{
    width: 90px;
    height: 100px;
    display: inline;
}
.main-header__logo{
    
    display: inline;
    font-size: 2em;
    padding: 12px;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}
.main-header .logo_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.main-header__contactInfo__phone{
   
    padding: 12px;
    margin: 0 auto;
}
.main-header__contactInfo__location{
    background-color: #222;
    color: white;
    padding: 12px;
    margin: 0 auto;
}
.main-header [class*="icon-"]:before{
    position: relative;
    top: 2px;
    right: 5px;
}
/* Menu */
.main-nav{
    width: 100%;
    position: sticky;
    z-index: 2000;
    padding: 6px;
    top: 0;
    background: white;
    border-bottom: 2px solid antiquewhite; 
}
#check{
    display: none;
}
.menu{
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: rgba(0,0,0,.85);
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    left: -100%;
    transition: all .5s;

}
#check:checked ~ .menu{
    left: 0;
}
.menu_link{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.menu_link:hover{
    background-color: antiquewhite;
    color: black;
}
.icon-menu{
    display: block;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}
.main-nav_logo img{
    width: 55px;
    height: 55px;
    display: inline;
}
/* Banner*/
.banner__img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.banner__aside{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.banner__title{
    font-family: 'Pacifico';
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 100;
    color: rgb(136, 136, 39);
}
.banner__title2{
    font-weight: 100;
    color: gray;
}
.banner__btn{
    width: 80px;
    text-align: center;
    text-decoration: none;
    background-color: #222;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

/* Footer */
.main-footer{
    background: #222;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
    
}
.copy{
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.main-footer [class*="icon-"] {
    color: white;
    text-decoration: none;
}
.main-footer [class*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;
}
.main-footer .column{
    margin: 5px 0 5px 3px;
}
/* Main */
.group__title{
    font-family: 'Pacifico',cursive;
    font-weight: 100;
    font-size: 1.8em;
    text-align: center;
    padding: 15px;
}
.group{
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 2px;
}
.offer .column{
    margin-top: 5px;
    margin-bottom: 5px;
}
.offer__img{
    margin: auto;
    max-width: 300px;
    height: 250px;
}
.offer__title{
    text-align: center;
    font-size: 1.3em;
    padding-top: 5px;
    padding-bottom: 8px;
}
.offer__price{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(136, 136, 39);
}
/* Sobre Nosotros */
.about .column:nth-child(1){
	height: 400px;
	background-image: url(../assets/about2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;

	background-size: 160%;
	background-position: -10px -100px;
	border-right:  50px solid #fff;
	border-top: 500px solid transparent;
}
.about .column:nth-child(2){
    padding: 10px;
}
.column__title{
    font-size: 1.3em;
}
/* Contacto */
.form .input-group{
    position: relative;
    margin-bottom: 32px;
}
.form .input-group input[type="text"],
.form .input-group input[type="email"],
.form .input-group textarea {
    font-size: 16px;
    color: black;
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid #222;
    resize: none;
}
.form .input-group textarea{
    height: 100px;
}
.form .input-group .label {
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-left: 15px;
        font-size: 16px;
        line-height: 16px;
        position: absolute;
        top: 16px;
        left: 0; 
}
/*.form .input-group input[type="text"]:focus + .label,
.form .input-group input[type="email"]:focus + .label,
.form .input-group textarea:focus {
    top: -12px;
    font-size: 12px;
    line-height: 12px;
    color: #B6B6B6; 
}*/
.focus{
    top: -12px !important;
    font-size: 12px !important;
    line-height: 12px !important;
    color: #B6B6B6 !important; 
}
.form input[type="submit"] {
    background: antiquewhite;
    border-radius: 1px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 15px;
    width: 100%;
}
.formulario input[type="submit"]:hover {
      background: #252932; 
}
.contact__info{
	padding: 10px;
	padding-top: 0;
}
.contact__info [class*="icon-"]{
	font-size: 1.3em;
	margin-right: 7px;
	position: relative;
	top: 5px;
}
.contact__info .social-icon__link{
	justify-content: flex-start;
	margin-bottom: 10px;
}
.contact__info .social-icon__link [class*='icon-']{
	background: black;
	color: white;
	margin-left: 0;
	margin-right: 15px;
    padding:4px;
    

}
.form {
	padding: 10px;
	margin-top: 20px;
}
.valido{
    border-bottom: 2px solid green !important;
}
.invalido{
    border-bottom:  2px solid red !important;
    animation: shaking 500ms 1;
    transition: all 1s;
}
.invalido-text{
    color: red !important;
}
.text{
    border-bottom: 2px solid #222 !important;
}

/** Menuuuu **/

@keyframes shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
        transform: translate(0, 0) rotate(0eg);
    }
    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
/*Responsives */
@media screen and (min-width:490px){
    .main-header img{
        width: 60px;
        height: 70px;
    }
    .main-header__logo{
        font-size: 1.6em;
        padding: 8px;
    }
    .banner__aside{
        height: 500px;
        display: flex;
        justify-content: center;
    }
    .main-header .column--50{
        width: 49%;
    }
    .column--33{
        width: 32%;
    }
    .main-header{
        background-color: antiquewhite;
    }
    .main-header__contactInfo__location{
        background: none;
        color: black;
    }
    .main-header__contactInfo{
        text-align: right;
    }
    .main-footer .container--flex{
        align-items: flex-start;
    }
    .main-footer .column--33:nth-child(2){
        word-break: break-all;
    }
    .column--50--25{
        width: 49%;
    }
    .offer__img{
        width: 240px;
        height: 230px;
        object-fit: cover;
    }
    .offer__price{
        font-size: 1.3em;
    }
    .offer__title{
        font-size: 1.2em;
    }
    .offer .column{
        border: 3px solid #ddd;
        padding: 5px;
        overflow: hidden;
    }
    .column--50{
        width: 50%;
    }
    .about .column:nth-child(1){
        height: 400px;
        background-size: 100%;
        background-position: -80px -100px;
    }
    .about .container{
        align-items: start;
    }
    .group{
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .form{
        margin-top: 0;
    }
    .contact .container--flex{
        align-items: flex-start;
    }
    .contact__info{
        border-right: 2px solid antiquewhite;
    }
    .contact__info .column__text {
        font-size: 0.95em;
    }

}
@media screen and (min-width:768px){
    .main-header{
        display: none;
    }
    .column--50{
        width: 50%;
    }
    .banner__title{
        font-size: 2.5em;
    }
    .main-nav .container{
        flex-direction: row-reverse;
        align-items: center;
    }
    .main-nav label{
        display: none;
    }
    .menu{
        position: relative;
        left: 0;
        top: 0;
        display: flex;
        background: none;
        height: auto;
        width: auto;
    }
    .menu_link{
        color: black;
        font-weight: bold;
    }
    .menu_link:hover{
        background: none;
        border-bottom: 2px solid antiquewhite;
    }
    .main-nav_logo{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .main-nav__logo{
        display: inline;
        font-size: 1.6em;
        padding: 12px;
        font-family: 'Pacifico', cursive;
        font-weight: 100;
    }
    .main-nav_logo img{
        height: 60px;
        width: 70px;
    }
    .column--50--25{
        width: 24.5%;
    }
    .group{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .offer__title{
        font-size: 1em;
    }
    .offer__price{
        font-size: 1.1em;
    }
    .group__title{
        font-size: 2em;
    }
    .about .column:nth-child(1){
        background-size: 70%;
        background-position: -80px -100px;
    }
    .column__text{
        line-height: 30px;
    }
}
@media screen and (min-width:1024px){
    .group{
        width: 1000px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}